body{margin: 0; padding: 0;}
.base{
    width: 1920px;
    height: 1800px;
}
.header{
    padding: 15px 0px;
    width: 1920px;
    position: fixed;
    height: 80px;
    background: rgb(17, 17, 17);
    box-sizing: border-box;
    z-index: 999;
}
.menuBase{
    width: 600px;
    height: 50px;
    margin: 0 auto;
}
.menu{
    margin-left: 60px;
    color: white;
    font-size: 30px;
    font-weight: 500;
    float: left;
    text-decoration: none;
}
.main1{
    height: 580px;
    width: 1920px;
    border: 2px solid black;
    position: relative;
}
.main2{
    height: 500px;
    width: 1920px;
    border: 2px solid black;
    position: relative;
}
.photo1{
    height: 500px;
    width: 1000px;
    border: 1px solid black;
    right: 0px;
    bottom: 0px;
    position: absolute;
    background-color: beige;
}
.photo2{
    height: 500px;
    width: 1000px;
    border: 1px solid black;
    left: 0px;
    position: absolute;
    background-color: rgb(236, 236, 113);
}



   
