body {
  background-color: rgb(10, 20, 40);
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; /* 패딩 포함 크기 계산 */
}
.base {
  margin: auto;
  width: 1200px;
  height: 3000px;
  background-color: rgb(10, 20, 40);
}
.header {
  width: 1200px;
  position: fixed;
  height: 80px;
  background: rgb(10, 20, 40);
  box-sizing: border-box;
  z-index: 999;
}
.square {
  width: 1200px;
  padding: 20px;
  background: rgb(10, 20, 40);
  margin: 0px;
}
header > ul > li {
  height: 80px;
  width: 180px;
  list-style: none;
  display: flex;
  align-items: center; /* 세로 가운데 */
  justify-content: center; /* 가로 가운데 */
  background: rgb(10, 20, 40);
}
.wrap {
  width: 1200px;
  position: relative;
  margin: 0 auto;
}
nav > ul > li a {
  color: white;
  width: 250px;
  padding: 10px 80px;
  background: rgb(10, 20, 40);

  justify-content: center;
  text-decoration: none;
}
header ul {
  display: flex;
  justify-content: space-between; /* 양 끝에 배치 + 균등 간격 */
  align-items: center; /* 세로 가운데 정렬 */
  list-style: none;
  padding: 0px;
}
.logo {
  width: 40px;
  height: 50px;
  background: url("./검은바탕로고.jpg") no-repeat;
  background-size: contain;
}
.main1 {
  height: 880px;
  width: 1200px;
  position: relative;
  margin-bottom: 200px;
}

.main2 {
  height: 800px;
  width: 1200px;
  position: relative;
  margin-bottom: 200px;
}

.textWrap1 {
  position: absolute;
  background: url(./데마시아4.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  width: 1200px;
  height: 700px;
  padding: 20px;
  bottom: 0px;
}
.textWrap2 {
  position: absolute;
  background: url(./녹서스3.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  width: 1200px;
  height: 700px;
  bottom: 0px;
}
.textWrap3 {
  position: absolute;
  background: url(./아이오니아1-1.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  width: 1200px;
  height: 700px;
  bottom: 0px;
}

.titleBox1 {
  box-sizing: border-box;
  height: 120px;
  width: 600px;
  position: absolute;
  top: 100px;
  left: 25px;
}
.titleBox1-1 {
  box-sizing: border-box;
  width: 200px;
  padding: 0px 30px;
  margin: auto;
  color: gold;
  font-size: 25px;
  text-align: center;
}
.titleBox1-2 {
  color: gold;
  box-sizing: border-box;
  width: 400px;
  padding: 0px 80px;
  margin: auto;
  font-size: 60px;
  font-weight: 500;
  text-align: center;
}
.textBox1 {
  box-sizing: border-box;
  height: 380px;
  width: 600px;
  left: 25px;
  bottom: 100px;
  position: absolute;
  padding: 30px;
  font-size: 20px;
  color: rgb(224, 224, 224);
  text-align: center;
}
.titleBox2 {
  box-sizing: border-box;
  height: 120px;
  width: 600px;
  position: absolute;
  right: 25px;
  top: 100px;
  text-align: center;
}
.titleBox2-1 {
  box-sizing: border-box;
  width: 200px;
  padding: 0px 30px;
  margin: auto;
  color: #810202;
  font-size: 25px;
  text-align: center;
}
.titleBox2-2 {
  color: #810202;
  box-sizing: border-box;
  width: 400px;
  padding: 0px 80px;
  margin: auto;
  font-size: 60px;
  font-weight: 500;
  text-align: center;
}
.textBox2 {
  box-sizing: border-box;
  height: 380px;
  width: 600px;
  right: 25px;
  bottom: 100px;
  position: absolute;
  padding: 30px;
  font-size: 20px;
  font-weight: 500;
  color: rgb(141, 22, 22);
  text-align: center;
}
.titleBox3 {
  box-sizing: border-box;
  height: 120px;
  width: 600px;
  position: absolute;
  top: 100px;
  left: 25px;
  text-align: center;
}
.titleBox3-1 {
  box-sizing: border-box;
  width: 200px;
  padding: 0px 30px;
  margin: auto;
  color: #00ac99;
  font-size: 25px;
  text-align: center;
}
.titleBox3-2 {
  color: #00ac99;
  box-sizing: border-box;
  width: 400px;
  padding: 0px 40px;
  margin: auto;
  font-size: 60px;
  font-weight: 500;
  text-align: center;
}
.textBox3 {
  box-sizing: border-box;
  height: 380px;
  width: 600px;
  left: 25px;
  bottom: 25px;
  position: absolute;
  padding: 30px;
  font-size: 20px;
  color: #c42057;
  text-align: center;
}
.footer_wrap{
  height: 200px;
  width: 500px;
  margin: 0px auto;
}
#footer_team {
  width: 400px;
  font-size: 25px;
  color: white;
  text-align: center;
}
