
body{padding: 0; margin: 0;}
#box1{
    width: 100px;
    height: 100px;
    background-color: rgb(0, 183, 255);
    left: 50px;
}
#box2{
    width: 150px;
    height: 150px;
    background-color: orange;
    position: relative;
    right: 100px;
}
#box3Parent{
    position: relative;
}
#box2:hover{
    right: 0px;
    transition: all 1s;
}
#box3{
    width: 120px;
    height: 120px;
    background-color: rgb(182, 133, 231);
    position: absolute;
    right: 100px;
    top: 50px;

}
#warp{
    width: 1000px;
    height: 1000px;
}
#box4{
    position: fixed;
    left: 50px;
    bottom: 50px;
}
#box5{
    position: sticky;
    top: 0px;
}