body {
    padding: 0px;
    margin: 0px;
}
#boxP {
    width: 300px;
    height: 200px;
    background-color: rgb(238, 238, 238);
    position: relative;
}
#boxC {
    width: 80px;
    height: 50px;
    background-color: pink;
    position: absolute;
    right: 0px;
    bottom: 80px;
}
